.calc{
    height: 560px;
    width: 390px;
    border: 1px solid red;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 37%;
    display: flex;
}

.display{
    height: 100px;
    width: 340px;
    border: 1px solid red;
    border-radius: 20px;
    position: relative;
    top: 25px;
    left: 24px;
}

.keypad{
    position: absolute;
    top: 125px;
    display: flex;
    flex-wrap: wrap;    
}

.buttons{
    height: 80px;
    width: 70px;
    border: 1px solid black;
    margin-top: 20px; 
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: large; 
    font-weight: bold;
    border-radius: 20px;
}

.display_upper, .display_lower{
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 20px;
    font-size: 20px;
}
