.calc{
    height: 650px;
    width: 470px;
    border: 1px solid red;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 37%;
    display: flex;
}

.display{
    height: 100px;
    width: 420px;
    border: 1px solid red;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 24px;
}

.keypad{
    position: absolute;
    top: 125px;
    display: flex;
    flex-wrap: wrap;
    
}

.buttons{
    height: 100px;
    width: 90px;
    border: 1px solid black;
    margin-top: 20px; 
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: large; 
    font-weight: bold;
}

.display_upper{
    height: 50px;
    border-bottom: 1px solid blue;
    text-align: center;
}
