.calc{
    height: 650px;
    width: 450px;
    border: 1px solid red;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 37%;
    display: flex;
}

.display{
    height: 100px;
    width: 400px;
    border: 1px solid red;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 24px;
}

.keypad{
    position: absolute;
    top: 150px;
    left: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.buttons{
    height: 90px;
    width: 90px;
    border: 1px solid black;    
}